{% extends 'base.html' %} {% block content %} {% load widget_tweaks %}
<section class="container pt-5 mt-3">
    <div class="container text-center ps-5 pe-5 mb-3 pb-5">
        <h1 class="h3 font-weight-normal text-center">System rozpoznawania dezinformacji</h1>

        <div class="form-container">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group mt-3 mb-3">
                    <label for="{{ form.news_content.id_for_label }}"
                        class="form-label">{{ form.news_content.label }}</label>
                    {{ form.news_content|add_class:"form-control" }}
                </div>

                <div class="form-group mt-3 mb-3">
                    <label for="{{ form.model_choice.id_for_label }}"
                        class="form-label">{{ form.model_choice.label }}</label>
                    {{ form.model_choice|add_class:"form-select"}}
                </div>

                <div class="form-group mt-3 mb-3">
                    <label for="{{ form.vector_choice.id_for_label }}"
                        class="form-label">{{ form.vector_choice.label }}</label>
                    {{ form.vector_choice|add_class:'form-select' }}
                </div>

                <button type="submit" class="btn btn-danger">Wyślij</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}